# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.Thumbs.db
.ehthumbs.db
.Spotlight-V100
.Trashes
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (uncomment to ignore VS Code workspace settings)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Crashlytics/Firebase Crashlytics
crashlytics/
firebase_crashlytics/

# Coverage reports
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Signing keys and certificates
*.keystore
*.jks
*.p12
*.pem
*.key
*.crt
